/* SWATCHES ---------------------------------------------------------------------- */

span.cm-link		{ color: #D4F1F4; }
span.cm-number		{ color: #bee9e8; }
span.cm-string		{ color: #B6E2D3; }

span.cm-builtin     { color: #FFF4BD; }
span.cm-def			{ color: #A8BBB0; }
span.cm-keyword		{ color: #F4B9B8; }
span.cm-operator	{ color: #EBE8E0; }
span.cm-qualifier	{ color: #EBE8E0; }
span.cm-tag			{ color: #EBE8E0; }

span.cm-attribute	{ color: #E6B794; }
span.cm-variable	{ color: #B8DDD6; }

span.cm-atom		{ color: #C3E0E5; }
span.cm-comment		{ color: rgb(153,177,195,0.5); }
span.cm-error		{ color: rgb(201, 93, 103, 0.7); }
span.cm-property	{ color: #c9cba3; }

span.cm-string-2    { color: #dad7cd; }
span.cm-variable-2	{ color: #d5bdaf; }
span.cm-variable-3	{ color: #a3b18a; }
span.cm-header      { color: #99b1c3; }

span.cm-bracket		{ color: #c0d6df; }
span.cm-meta		{ color: #b6ccfe; }

/* MISC ---------------------------------------------------------------------- */

.CodeMirror {
    line-height: 1.5;
}

.CodeMirror,
.CodeMirror .CodeMirror-scroll {
	background: #272B31;
	color: #a1cb84;
}

.CodeMirror-cursor {
	border-left: 2px solid #eff1ed !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-bottom: 1px solid #b3bfb8 !important;
    border-left: none !important;
}

.CodeMirror-gutters {
	background: #272B31;
	border-right: 0;
}

.CodeMirror-linenumber {
	color: rgba(255, 255, 255, 0.3);
}
/* selection of code */
.CodeMirror-selected {
	background: #2f4550;
}
.CodeMirror .CodeMirror-selected {
    background: rgba(47, 69, 80, 0.35);
}
.CodeMirror-focused .CodeMirror-selected {
    background: #2f4550;
}
/* Matching */

.CodeMirror-matchingbracket {
    background: transparent !important;
	border-bottom: 3px solid #52b788 !important;
    color: #f6f9fa !important;
}

.CodeMirror-matchingtag {
    background: #4f5763 !important;
	border-bottom: 3px solid rgb(82, 183, 136, 0.7) !important;
}

/* Active Line */

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-nonmatchingbracket {
	color: #affc41 !important;
}

.CodeMirror-activeline-background {
	background: #2f4550 !important;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
	color: #ffffff;
	background-color: #2f4550 !important;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
	color: #f6f9fa;
}

/* Non-editor styling */

#image-holder,
#not-editor {
    background-color: #272B31;
}

#image-holder {
    color: #a1cb84;
}

