/* SWATCHES ---------------------------------------------------------------------- */

span.cm-link		{ color: #bee9e8; }
span.cm-number		{ color: #bee9e8; }
span.cm-string		{ color: #bee9e8; }

span.cm-builtin     { color: #b6ccfe; }
span.cm-def			{ color: #c9e4ca; }
span.cm-keyword		{ color: #93e1d8; }
span.cm-operator	{ color: #f1faee; }
span.cm-qualifier	{ color: #f1faee; }
span.cm-tag			{ color: #c9e3b4; }

span.cm-attribute	{ color: #e0b1cb; }
span.cm-variable	{ color: #9ceaef; }

span.cm-atom		{ color: #b3ddff; }
span.cm-comment		{ color: rgb(153,177,195,0.5); }
span.cm-error		{ color: #f79d65; }
span.cm-property	{ color: #c9cba3; }

span.cm-string-2    { color: #e0e1dd; }
span.cm-variable-2	{ color: #f79d65; }
span.cm-variable-3	{ color: #ffa62b; }
span.cm-header      { color: #e0aaff; }

span.cm-bracket		{ color: #bee9e8; }
span.cm-meta		{ color: #bee9e8; }


/* MISC ---------------------------------------------------------------------- */

.CodeMirror {
    line-height: 1.5;
}

.CodeMirror,
.CodeMirror .CodeMirror-scroll {
	background: #272B31;
	color: #a1cb84;
}

.CodeMirror-cursor {
	border-left: 1px solid #a8dadc !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-bottom: 1px solid #f5cb5c !important;
    border-left: none !important;
}

.CodeMirror-gutters {
	background: #272B31;
	border-right: 0;
}

.CodeMirror-linenumber {
	color: rgba(255, 255, 255, 0.3);
}

.CodeMirror-selected {
	background: #4f6d7a !important;
}
.CodeMirror .CodeMirror-selected {
    background: rgb(79,109,122,0.6);
}
.CodeMirror-focused .CodeMirror-selected {
    background: #4f6d7a;
}
/* Matching */


.CodeMirror-matchingbracket {
    background: transparent !important;
	border-bottom: 3px solid #52b788 !important;
    color: #f6f9fa !important;
}

.CodeMirror-matchingtag {
    background: transparent !important;
	border-bottom: 3px solid #52b788 !important;
}

/* Active Line */

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-nonmatchingbracket {
	color: #f6f9fa !important;
}

.CodeMirror-activeline-background {
	background: #2f4550 !important;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
	color: #ffffff;
	background-color: #000 !important;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
	color: #f6f9fa;
}

/* Non-editor styling */

#image-holder,
#not-editor {
    background-color: #272B31;
}

#image-holder {
    color: #a1cb84;
}
